In [1]:
import pandas as pd
import numpy as np

## Part -1 Threat Severity Calculation

In [111]:
### variables
cat=pd.DataFrame()

threat_cat=pd.DataFrame()

for i in range(0,50):
    
    threat_cat['threat actor']=['Organized Crime','Other Criminals','APTs','Other Governments','Competitors','Anarchist Insider','Anarchist Outsider']

    threat_cat['Technology']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Expertise']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Resources']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Access']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Generally']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Specifically']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Low-Conscious']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Perception-Conscious']=np.random.randint(1,11,size=(len(threat_cat)))

    threat_cat['Timing-Sensitivity']=np.random.randint(1,11,size=(len(threat_cat)))
    
    cat=pd.concat([threat_cat,cat])

cat['Total']=cat.sum(axis=1)

threat_severity=cat[['threat actor','Total']]

C:\Users\kumar\AppData\Local\Temp\ipykernel_20924\2855692853.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cat['Total']=cat.sum(axis=1)

In [112]:
threat_severity

          threat actor  Total
0      Organized Crime     48
1      Other Criminals     45
2                 APTs     46
3    Other Governments     49
4          Competitors     35
..                 ...    ...
2                 APTs     45
3    Other Governments     58
4          Competitors     23
5    Anarchist Insider     55
6   Anarchist Outsider     47

[350 rows x 2 columns]

## Part -2 Intent Random Data Generation and map with tsc adjustment

In [113]:
intent=pd.DataFrame()

df=pd.DataFrame()

for i in range(0,50):
    
    df['Threat Actor']=['Organized Crime','Other Criminals','APTs','Other Governments','Competitors','Anarchist Insider','Anarchist Outsider']
    
    df['Ransom']=np.random.randint(0,6,size=len(df))
    
    df['Service degradation']=np.random.randint(0,6,size=len(df))
    
    df['IP Theft']=np.random.randint(0,6,size=len(df))
    
    df['Reputation hit']=np.random.randint(0,6,size=len(df))
    
    df['Low quality Product']=np.random.randint(0,6,size=len(df))
    
    df['Data Loss']=np.random.randint(0,6,size=len(df))
    
    df['Privacy Breach']=np.random.randint(0,6,size=len(df))
    
    df['OT Failure']=np.random.randint(0,6,size=len(df))
    
    df['Resource Theft']=np.random.randint(0,6,size=len(df))
    
    intent=pd.concat([intent,df])

In [114]:
intent_df=intent.copy()
intent

,Threat Actor,Ransom,Service degradation,IP Theft,Reputation hit,Low quality Product,Data Loss,Privacy Breach,OT Failure,Resource Theft
0,Organized Crime,3,3,0,4,2,0,3,1,4
1,Other Criminals,0,5,0,4,3,4,1,5,0
2,APTs,0,0,5,3,4,3,4,0,3
3,Other Governments,4,2,2,5,3,5,1,2,2
4,Competitors,1,2,2,1,4,0,3,2,1
...,...,...,...,...,...,...,...,...,...,...
2,APTs,0,4,0,5,1,0,3,2,5
3,Other Governments,0,5,3,2,3,5,0,1,0
4,Competitors,2,0,3,5,1,2,5,3,5
5,Anarchist Insider,3,4,5,1,0,4,5,2,5
6,Anarchist Outsider,3,4,5,2,0,2,0,5,3

#### tsc adjustment

In [115]:
tsc_adjustment={1:-.33,2:-.20,3:0,4:.20,5:.33,0:0}

In [116]:
j=1

col=len(intent_df.columns)

for i in range(j,col):
        
    col_name=intent_df.columns[i]
    
    #new_name=intent_df.columns[i]+"_TSC_Adjustement"
    
    intent_df[col_name]=(intent_df[col_name].map(tsc_adjustment))+1

In [117]:
intent_df

,Threat Actor,Ransom,Service degradation,IP Theft,Reputation hit,Low quality Product,Data Loss,Privacy Breach,OT Failure,Resource Theft
0,Organized Crime,1.00,1.00,1.00,1.20,0.80,1.00,1.00,0.67,1.20
1,Other Criminals,1.00,1.33,1.00,1.20,1.00,1.20,0.67,1.33,1.00
2,APTs,1.00,1.00,1.33,1.00,1.20,1.00,1.20,1.00,1.00
3,Other Governments,1.20,0.80,0.80,1.33,1.00,1.33,0.67,0.80,0.80
4,Competitors,0.67,0.80,0.80,0.67,1.20,1.00,1.00,0.80,0.67
...,...,...,...,...,...,...,...,...,...,...
2,APTs,1.00,1.20,1.00,1.33,0.67,1.00,1.00,0.80,1.33
3,Other Governments,1.00,1.33,1.00,0.80,1.00,1.33,1.00,0.67,1.00
4,Competitors,0.80,1.00,1.00,1.33,0.67,0.80,1.33,1.00,1.33
5,Anarchist Insider,1.00,1.20,1.33,0.67,1.00,1.20,1.33,0.80,1.33
6,Anarchist Outsider,1.00,1.20,1.33,0.80,1.00,0.80,1.00,1.33,1.00

## Part -3 Sector Random Data Generation and map with sector specific interest

In [118]:
sector=pd.DataFrame()

df=pd.DataFrame()

for i in range(0,50):
    
    df['Threat Actor']=['Organized Crime','Other Criminals','APTs','Other Governments','Competitors','Anarchist Insider','Anarchist Outsider']
    
    df['IT']=np.random.randint(0,6,size=len(df))
    
    df['Healthcare']=np.random.randint(0,6,size=len(df))
    
    df['Finance']=np.random.randint(0,6,size=len(df))
    
    df['Consumer Discretionary']=np.random.randint(0,6,size=len(df))
    
    df['Communication Services']=np.random.randint(0,6,size=len(df))
    
    df['Industrials']=np.random.randint(0,6,size=len(df))
    
    df['Consumer Staples']=np.random.randint(0,6,size=len(df))
    
    df['Energy']=np.random.randint(0,6,size=len(df))
    
    df['Utilities']=np.random.randint(0,6,size=len(df))
    
    df['Real Estate']=np.random.randint(0,6,size=len(df))
    
    df['Materials']=np.random.randint(0,6,size=len(df))
    
    df['Government']=np.random.randint(0,6,size=len(df))
    
    df['SLED']=np.random.randint(0,6,size=len(df))
    
    df['Other Critical Infrastructure']=np.random.randint(0,6,size=len(df))
    
    sector=pd.concat([sector,df])

In [119]:
sector_df=sector.copy()
sector

,Threat Actor,IT,Healthcare,Finance,Consumer Discretionary,Communication Services,Industrials,Consumer Staples,Energy,Utilities,Real Estate,Materials,Government,SLED,Other Critical Infrastructure
0,Organized Crime,4,3,1,4,4,3,2,0,5,1,2,0,5,5
1,Other Criminals,2,4,0,3,5,5,2,3,4,2,3,0,1,1
2,APTs,0,1,2,3,5,3,5,0,2,5,4,0,1,5
3,Other Governments,1,0,3,3,0,1,5,5,2,0,1,4,3,5
4,Competitors,1,5,4,5,0,5,5,3,1,2,5,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,APTs,3,1,2,3,4,0,2,3,4,3,4,4,3,2
3,Other Governments,3,1,0,0,3,5,1,0,2,1,5,4,2,1
4,Competitors,4,0,4,3,0,3,5,4,0,5,2,4,0,1
5,Anarchist Insider,5,2,3,4,0,0,4,4,5,0,3,1,1,3
6,Anarchist Outsider,4,3,2,1,5,5,3,2,1,1,5,4,0,3

In [120]:
tsc_adjustment={1:-.33,2:-.20,3:0,4:.20,5:.33,0:0}

In [121]:
j=1

col=len(sector_df.columns)

for i in range(j,col):
        
    col_name=sector_df.columns[i]
    
    #new_name=intent_df.columns[i]+"_TSC_Adjustement"
    
    sector_df[col_name]=(sector_df[col_name].map(tsc_adjustment))+1

In [122]:
sector_df

,Threat Actor,IT,Healthcare,Finance,Consumer Discretionary,Communication Services,Industrials,Consumer Staples,Energy,Utilities,Real Estate,Materials,Government,SLED,Other Critical Infrastructure
0,Organized Crime,1.20,1.00,0.67,1.20,1.20,1.00,0.80,1.00,1.33,0.67,0.80,1.00,1.33,1.33
1,Other Criminals,0.80,1.20,1.00,1.00,1.33,1.33,0.80,1.00,1.20,0.80,1.00,1.00,0.67,0.67
2,APTs,1.00,0.67,0.80,1.00,1.33,1.00,1.33,1.00,0.80,1.33,1.20,1.00,0.67,1.33
3,Other Governments,0.67,1.00,1.00,1.00,1.00,0.67,1.33,1.33,0.80,1.00,0.67,1.20,1.00,1.33
4,Competitors,0.67,1.33,1.20,1.33,1.00,1.33,1.33,1.00,0.67,0.80,1.33,1.20,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,APTs,1.00,0.67,0.80,1.00,1.20,1.00,0.80,1.00,1.20,1.00,1.20,1.20,1.00,0.80
3,Other Governments,1.00,0.67,1.00,1.00,1.00,1.33,0.67,1.00,0.80,0.67,1.33,1.20,0.80,0.67
4,Competitors,1.20,1.00,1.20,1.00,1.00,1.00,1.33,1.20,1.00,1.33,0.80,1.20,1.00,0.67
5,Anarchist Insider,1.33,0.80,1.00,1.20,1.00,1.00,1.20,1.20,1.33,1.00,1.00,0.67,0.67,1.00
6,Anarchist Outsider,1.20,1.00,0.80,0.67,1.33,1.33,1.00,0.80,0.67,0.67,1.33,1.20,1.00,1.00

In [136]:
sector_df.columns

Index(['Threat Actor', 'IT', 'Healthcare', 'Finance', 'Consumer Discretionary',
       'Communication Services', 'Industrials', 'Consumer Staples', 'Energy',
       'Utilities', 'Real Estate', 'Materials', 'Government', 'SLED',
       'Other Critical Infrastructure'],
      dtype='object')

## Threat model calculation

In [153]:
class threat_calculation():
    
    global la 
    la=['IT', 'Healthcare', 'Finance',
       'Consumer Staples', 'Communication Services', 'Industrials',
       'Consumer Discretionary', 'Energy', 'Utilities',
       'Other Critical Infrastructure', 'Materials', 'Government', 'SLED',
       'Real Estate']
        
    def __init__(self):
        print('Use :- sector_list function and enter any sector from below mentioned list as a string')
        print("")
        print(la)
    
    def sector_list(self,sector_name):
        t=sector_name
        
        Threat_model=pd.DataFrame()

        #Threat_model['Threat Actor']=['Organized Crime','Other Criminals','APTs','Other Governments','Competitors','Anarchist Insider','Anarchist Outsider']

        Threat_model['Ransom']=intent_df['Ransom']*threat_severity['Total']*sector_df[t]

        Threat_model['Service degradation']=intent_df['Service degradation']*threat_severity['Total']*sector_df[t]

        Threat_model["IP Theft"]=intent_df['IP Theft']*threat_severity['Total']*sector_df[t]

        Threat_model['Reputation hit']=intent_df['Reputation hit']*threat_severity['Total']*sector_df[t]

        Threat_model['Low quality Product']=intent_df['Low quality Product']*threat_severity['Total']*sector_df[t]

        Threat_model['Data Loss']=intent_df['Data Loss']*threat_severity['Total']*sector_df[t]

        Threat_model['Privacy Breach']=intent_df['Privacy Breach']*threat_severity['Total']*sector_df[t]

        Threat_model['OT Failure']=intent_df['OT Failure']*threat_severity['Total']*sector_df[t]

        Threat_model['Resource Theft']=intent_df['Resource Theft']*threat_severity['Total']*sector_df[t]

        #Threat_model = Threat_model.set_index('Threat Actor')
        
        Threat_model=Threat_model.mask(Threat_model > 90, 90)
        
        Threat_model = Threat_model.transpose()

        Threat_model["Total"] = Threat_model.max(axis = 1)
        
        Threat_model = Threat_model.transpose()
        
        #Threat_model=pd.DataFrame(Threat_model)

        return Threat_model

In [154]:
t=threat_calculation()

Use :- sector_list function and enter any sector from below mentioned list as a string

['IT', 'Healthcare', 'Finance', 'Consumer Staples', 'Communication Services', 'Industrials', 'Consumer Discretionary', 'Energy', 'Utilities', 'Other Critical Infrastructure', 'Materials', 'Government', 'SLED', 'Real Estate']

In [157]:
data=t.sector_list('IT')
data

,Ransom,Service degradation,IP Theft,Reputation hit,Low quality Product,Data Loss,Privacy Breach,OT Failure,Resource Theft
0,57.6000,57.600,57.600,69.1200,46.080,57.6000,57.6000,38.592,69.1200
1,36.0000,47.880,36.000,43.2000,36.000,43.2000,24.1200,47.880,36.0000
2,46.0000,46.000,61.180,46.0000,55.200,46.0000,55.2000,46.000,46.0000
3,39.3960,26.264,26.264,43.6639,32.830,43.6639,21.9961,26.264,26.2640
4,15.7115,18.760,18.760,15.7115,28.140,23.4500,23.4500,18.760,15.7115
...,...,...,...,...,...,...,...,...,...
3,58.0000,77.140,58.000,46.4000,58.000,77.1400,58.0000,38.860,58.0000
4,22.0800,27.600,27.600,36.7080,18.492,22.0800,36.7080,27.600,36.7080
5,73.1500,87.780,90.000,49.0105,73.150,87.7800,90.0000,58.520,90.0000
6,56.4000,67.680,75.012,45.1200,56.400,45.1200,56.4000,75.012,56.4000
Total,90.0000,90.000,90.000,90.0000,90.000,90.0000,90.0000,90.000,90.0000

In [140]:
data.to_csv('_6Threat__Updatedone.csv')

In [ ]:
class threat_calculation():
    
    global la 
    la=['IT', 'Healthcare', 'Finance',
       'Consumer Staples', 'Communication Services', 'Industrials',
       'Consumer Discretionary', 'Energy', 'Utilities',
       'Other Critical Infrastructure', 'Materials', 'Government', 'SLED',
       'Real Estate']
        
    def __init__(self):
        print('Use :- sector_list function and enter any sector from below mentioned list as a string')
        print("")
        print(la)
    
    def sector_list(self,sector_name):
        t=sector_name
        
        Threat_model=pd.DataFrame()

        #Threat_model['Threat Actor']=['Organized Crime','Other Criminals','APTs','Other Governments','Competitors','Anarchist Insider','Anarchist Outsider']

        Threat_model['Ransom']=intent_df['Ransom']*threat_severity['Total']*sector_df[t]

        Threat_model['Service degradation']=intent_df['Service degradation']*threat_severity['Total']*sector_df[t]

        Threat_model["IP Theft"]=intent_df['IP Theft']*threat_severity['Total']*sector_df[t]

        Threat_model['Reputation hit']=intent_df['Reputation hit']*threat_severity['Total']*sector_df[t]

        Threat_model['Low quality Product']=intent_df['Low quality Product']*threat_severity['Total']*sector_df[t]

        Threat_model['Data Loss']=intent_df['Data Loss']*threat_severity['Total']*sector_df[t]

        Threat_model['Privacy Breach']=intent_df['Privacy Breach']*threat_severity['Total']*sector_df[t]

        Threat_model['OT Failure']=intent_df['OT Failure']*threat_severity['Total']*sector_df[t]

        Threat_model['Resource Theft']=intent_df['Resource Theft']*threat_severity['Total']*sector_df[t]

        #Threat_model = Threat_model.set_index('Threat Actor')
        
        Threat_model=Threat_model.mask(Threat_model > 90, 90)
        
        Threat_model = Threat_model.transpose()

        Threat_model["Total"] = Threat_model.max(axis = 1)
        
        Threat_model = Threat_model.transpose()
        
        #Threat_model=pd.DataFrame(Threat_model)

        return Threat_model